body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    padding: 50px 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

button {
	cursor: pointer;
}

.playingCards.faceImages {
    max-width: 800px;
    margin: 0 auto;
}

button.button {
    display: block;
    width: 300px;
    height: 50px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 20px;
    margin: 50px auto 100px;
}

.cardsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.outcome {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-weight: Bold;
    font-size: 30px;
}